# Node
node_modules/
npm-debug.log

# Env
.env
.env.dev
.env.prod

# Docker
*.tar

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build
dist/
build/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
