name: CI - Build & Push Docker

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set IMAGE_TAG
        run: echo "IMAGE_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Login DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Backend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/backend:$IMAGE_TAG ./backend
          docker push ${{ secrets.DOCKER_USERNAME }}/backend:$IMAGE_TAG

      - name: Build Frontend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/frontend:$IMAGE_TAG ./frontend
          docker push ${{ secrets.DOCKER_USERNAME }}/frontend:$IMAGE_TAG