name: CI - Build & Push Docker

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set IMAGE_TAG
        run: echo "IMAGE_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # ========================
      # BACKEND
      # ========================
      - name: Build & Push Backend
        run: |
          docker build -t $DOCKER_USERNAME/rahasia-dapur-backend:$IMAGE_TAG ./backend
          docker push $DOCKER_USERNAME/rahasia-dapur-backend:$IMAGE_TAG

      # ========================
      # FRONTEND
      # ========================
      - name: Build & Push Frontend
        run: |
          docker build -t $DOCKER_USERNAME/rahasia-dapur-frontend:$IMAGE_TAG ./frontend
          docker push $DOCKER_USERNAME/rahasia-dapur-frontend:$IMAGE_TAG